<% @channels.each do |channel|  %>
  <p>Channel: <%= link_to channel.name, channel_path(channel)  %> </p>
  <p>Username: <%= channel.user.name  %></p>
  <p>Team: <%= channel.team.name  %></p>
  <p>Team description: <%= channel.team.description  %></p>
  <p>Game: <%= channel.game.name  %></p>
  <p><b>Watchers: </b><%= @channel_watchers[channel.id]  %></p/>
  <hr>
<% end  %>
