<p>Channel: <%= @channel.name  %></p>
<p>Username: <%= @channel.user.name  %></p>
<p>Team: <%= @channel.team.name  %></p>
<p>Team description: <%= @channel.team.description  %></p>
<p>Game: <%= @channel.game.name  %></p>
<p><b>Watchers: </b><%= @channel_watchers[@channel.id]  %></p/>
<hr>
